.container-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
}
body {
    background-color: #1C5E20;
    min-height: 100vh;
}

.botao-login {
    width: 120px;
    height: 30px;
}

.botao-cadastro {
    width: 120px;
    height: 30px;
}

input {
    border-radius: 5px;
    height: 20px;
    width: 200px;
}

label {
    color: #EEF7E6;
    margin-bottom: 20px;
    font-size:large;
}

.campos-login {
    display: flex;
    flex-direction: column;
}

.texto-inserir {
    color: #FEDD54;
}
.container-home {
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.container-login {
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.nav-logo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
    gap: 20px;
    color: #EEF7E6;
}


/* img {
    width: 6%;
    border-radius: 50%;
} */

.a-nav {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 23px;
    opacity: 0.5;
}

.a-nav.selected {
    opacity: 1;
    font-weight: bold;
}
.container-cadastro {
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.input-cadastro {
    width: 100px;
    height: 20px;
}
.container-footer{
    display: flex;
    flex-direction: row;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 130px ;
}
.texto-contato {
    color: #EEF7E6;
    font-weight: bold;
}
.texto-email {
    color: #C2F3C4;
}
.campo-cadastro-endereco{
    margin-top: 40px;
    margin-bottom: 40px;
}
