body{
    background-color: #1C5E20;
    color: white;
}

.imagem {
    width: 450px;
    height: 500px;
    content: url('../assets/imagem_vaca.jpg');
    object-fit: cover;
    border-radius: 10px;
}

.banner{
    display: flex;
    align-items: center;
}

.container-home {
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 70%;
}

.texto{
    padding: 0px 25px 0px 0px;
}