/*---------------------- ESTILIZAÇÃO BODY -------------------- */
body {
    background-color: #1C5E20;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/*-------------------- NAV -------------------------- */

.header {
    height: 120px;
    display: flex;
    gap: 20px;
    color: #EEF7E6;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    gap: 20px;
    margin: 0;
    align-items: end;
}

.logo img {
    width: 100%;
    height: 100%;
}

.a-nav {
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.a-nav.selected {
    opacity: 1;
    font-weight: bold;
}

.link-navbar {
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

/* -------------- HOME ------------------- */

.container-conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-conteudo {
    gap: 50px;
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 80%;
}

.div-img {
    width: 600px;
    height: 400px;
}

.div-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.botao-simulacao {
    width: 250px;
    padding: 8px 5px 8px 5px;
    margin: 5px;
    background-color: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.btn-simulacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-decoration: none;
    color:black;
}

.seta {
    height: 30px;
    width: 30px;
    background-color: #1F6A07;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta svg {
    width: 20px;
    height: 20px;
}

/* ----------------- LOGIN E CADASTRO ---------------------  */

.campo-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    
}

.campo-cadastro input {
    border-radius: 5px;
    height: 25px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: #D3EAB3;
    margin: 2px;
    padding: 5px;
}

.div-conteudo .campo-cadastro {
    gap: 10px;
}

.campo-cadastro-endereco{
    margin-top: 40px;
    margin-bottom: 40px;
}

.div-conteudo .div-texto {
    gap:10px
}

.div-texto {
    align-items: center;
    text-align: center;
    width: 450px;
    display: flex;
    flex-direction: column;
    color: white;
}

.div-texto h1 {
    color: #fed859;
    font-size: 56px;
    font-weight: bolder;
    margin: 20px 0px 0px 0px;
}

.div-texto p {
    font-weight: normal;
    font-size: 20px;
}

.div-texto #linkLogin {
    font-weight: 600;
    color: white;
}

::placeholder{
    color: #1C5E20;
    font-family: "Poppins", sans-serif;
}

.btn-cadastro {
    cursor: pointer;
    border: none;
    background-color: #1C5E20;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: white; 
    width: 160px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
}

.texto-cadastro p{
    margin-top: 0px;
    font-size: 16px;
}

/* ----------------- CALCULADORA --------------- */

.div-conteudo {
    justify-content: space-between;
}

.div-texto .titulo-calculadora {
    font-size: 25px;
    margin: auto;
}

#texto-calculadora{
    text-align: left;

}
.div-calculadora {
    gap: 20px;
    background-color: #7AA95B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 60%;
}

.div-calculadora .campo-calculadora {
    width: 80%;
}

.div-calculadora .campo-calculadora span {
    width: 200px;
    text-align: center;
    color: white;
}

.div-calculadora .campo-calculadora input {
    width: 60%;
    text-align: center;
}

/* --------------- FOOTER -------------- */

.footer .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    color: white;
}

.footer span{
    font-weight: normal;
}
/* --------------- SOBRE NOS -------------- */

.sobre {
    display: flex;
}

#conteudo-sobre{
    display: flex;
    flex-direction: column;
    background-color: #7AA95B;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    border-radius: 10px;
    padding:30px;
    padding-top: 0px;
    padding-bottom: 20px;
}
.sobre h1 {
    color: #fed859;
    font-size: 56px;
    font-weight: bolder;
}
.sobre p {
    color: white;
    width: 60%;
    margin-left: 20px;
}
.sobre ul {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 60%;
}